/* CSS Document */
/*----------- Increase size of name or logo in header navigation------*/
/*
header .navbar-brand {
  color: #ffffff; 
  font-size: 1.5rem;
  font-weight: 500;
}

header .nav-link{
	font-size: 1.25rem;
	
}
*/

body{
/*font-family: 'Source Sans Pro', sans-serif;*/
/*	line-height : 3rem;*/

}
	
/*----------- Container holding the image and text ----------*/
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.50)), url("../images/DSC5381_1584x396.jpg");
  background-color: #484848;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
/*----------- Navbar ---------------*/


/* At top */
#mainNav {
  border-color: transparent;
  background-color: transparent;
}

#mainNav .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
  font-size: 2.0rem;
  font-weight: 700;
  letter-spacing: 1px;

}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: rgba(255, 255, 255, 0.9);
}

#mainNav .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
}

#mainNav .navbar-nav .nav-link:hover,
#mainNav .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 1.0);
}

#mainNav .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.3);
}

#mainNav .navbar-nav .show > .nav-link,
#mainNav .navbar-nav .active > .nav-link,
#mainNav .navbar-nav .nav-link.show,
#mainNav .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 0.9);
}

#mainNav .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  background-color: #FFFFFF;
}

#mainNav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 123, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#mainNav .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

#mainNav .navbar-text a {
  color: rgba(255, 255, 255, 0.9);
}

#mainNav .navbar-text a:hover,
#mainNav .navbar-text a:focus {
  color: rgba(255, 255, 255, 0.9);
}

/* After scrolling */
#mainNav.navbar-shrink {
  border-color: white;
  background-color: white;
}

#mainNav.navbar-shrink .navbar-brand {
  color: rgba(0, 123, 255, 0.9);
  font-size: 1.5rem;
}

#mainNav.navbar-shrink .navbar-brand:hover,
#mainNav.navbar-shrink .navbar-brand:focus {
  color: rgba(0, 123, 255, 0.9);
}

#mainNav.navbar-shrink .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-shrink .navbar-nav .nav-link:hover,
#mainNav.navbar-shrink .navbar-nav .nav-link:focus {
  color: rgba(0, 123, 255, 0.7);
}

#mainNav.navbar-shrink .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

#mainNav.navbar-shrink .navbar-nav .show > .nav-link,
#mainNav.navbar-shrink .navbar-nav .active > .nav-link,
#mainNav.navbar-shrink .navbar-nav .nav-link.show,
#mainNav.navbar-shrink .navbar-nav .nav-link.active {
  color: rgba(0, 123, 255, 0.9);
}

#mainNav.navbar-shrink .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #007BFF;
}

#mainNav.navbar-shrink .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#mainNav.navbar-shrink .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-shrink .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

#mainNav.navbar-shrink .navbar-text a:hover,
#mainNav.navbar-shrink .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}
@media (max-width: 992px) {
  #mainNav .navbar-brand {
  font-size: 1.5rem;
  }
  #mainNav .navbar-nav .nav-link {
    font-size: 1rem;
  }

}


/*----------- Grid for Home section ----------*/
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.grid aside {
  text-align: center;
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}
/*--------- Alternative grid for home section -------------- */
.grid-1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 30% auto;
}
.grid-1 aside {
  text-align: center;
  grid-column: 2 / 6;
  grid-row: 2 / 4;
}
/*-------For shadowing the text until I fix the image */
.grid-1 h1 {
  text-shadow: 4px 4px 4px #000000;
}
.grid-1 h4 {
  text-shadow: 2px 2px 4px #000000;
}
/*--------- About section ----------------*/
#about {
  background: #E9EBFC;
  font-size: 1.25rem;
}
.about-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
 /* grid-gap: 1rem;*/
  grid-template-areas: "hd-about         hd-about  hd-about"
	                   "img-selfportrait txt-about txt-about";
}
.img-selfportrait {
  grid-area: img-selfportrait;
  grid-column: 1 / 2;
}
.hd-about {
  grid-area: hd-about;
  grid-colum: 1 / 4;
  text-align: center;
}
.txt-about {
  grid-area: txt-about;
  grid-column: 2 / 4; 
  justify-self: left;
  /* line-height: 2; */
  font-family: 'Convergence', sans-serif;
}

@media (max-width: 768px){
  .about-Grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "hd-about"
	                    "img-selfportrait"
	                    "txt-about"
	  ;
  }
	
  .img-selfportrait {
    grid-area: img-selfportrait;
	align-self: start;
    justify-self: center;
  }
  .hd-about {
    grid-area: hd-about;
    text-align: center;
  }
  .txt-about {
    grid-area: txt-about;
  }
}

/*--------- Education and Experience section ----------------*/
#education_and_experience {
  background: #F8F8F8;
}

.bg-lightskyblue {
	background-color: lightskyblue !important
}

.bg-lightyellow {
	background-color: lightyellow !important
}

.experience-Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
}

.education-Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
 /*background-color: #E1E327;*/ 
}



/*not active*/
.nav-pills .pill-1 .nav-link:not(.active) {
  /*  background-color: rgba(0, 250, 0, 1.0); */
	background-color: rgba(0,123,255,.35);
	color: rgba(255,255,255,1.00);
}

.nav-pills .pill-2 .nav-link:not(.active) {
   /* background-color: rgba(0, 250, 0, 1.0); */
	background-color: rgba(0,123,255,.35);
	color: rgba(255,255,255,1.00);
}

.nav-pills .pill-3 .nav-link:not(.active) {
   /* background-color: rgba(0, 250, 0, 1.0); */
	background-color: rgba(0,123,255,.35);
	color: rgba(255,255,255,1.00);
}

/*active*/
.nav-pills .pill-1 .nav-link {
    background-color: rgba(0,123,255,1.00);
	color: rgba(255,255,255,1.00);
}

.nav-pills .pill-2 .nav-link {
   background-color: rgba(0,123,255,1.00);
	color: rgba(255,255,255,1.00);
}

.nav-pills .pill-3 .nav-link {
   background-color: rgba(0,123,255,1.00);
	color: rgba(255,255,255,1.00);
}

.button-size {
	font-size: 1.5rem;
}

@media (max-width: 768px) {
  .experience-Grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .education-Grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }
	
  .button-size {
	font-size: 1rem;
  }

}


/*--------- Video section ----------------*/
#video {
  background: #E9EBFC;
}

.video-Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  grid-gap: .5rem;  
 /*background-color: #E1E327;*/ 
}


/*--------- Skills section ----------------*/
#skills {
  background: #F8F8F8;
}
.skills-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
}
.skills-graphic {
  text-align: center !important;
  padding-top: 1rem !important;
  border: 2px solid #007bff !important;
}
.star-gold-filled {
  color: gold;
}
.star-empty {
  color: black;
}
.my-fa-font-size {
  font-size: 10em;
}
@media (max-width: 992px) {
  .my-fa-font-size {
    font-size: 7em;
  }
}
@media (max-width: 768px) {
  .skills-Grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .my-fa-font-size {
    font-size: 10em;
  }
}
/*--------- Contact section ----------------*/
#contact {
  background: #E9EBFC;
}
.contact-Grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
}
@media (max-width: 768px) {
  .contact-Grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .my-fa-font-size {
    font-size: 10em;
  }
}
/*--------- Footer section ----------------*/
#footer {
  background: #EDCD72;
}
/*--------- Copyright section ----------------*/
#copyright {
  background: #484848;
}